@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
* { box-sizing: border-box; }

:root {
    --card-color: #ff0000;
}

body {
    background: #000000;
    color: #fff;
    margin: 2em;
    font-family: 'Fira Code', monospace;
}
.cards {
    display: grid;
    grid-template-columns: 400px 400px;
    margin: 2em 0;
}
.credit-card {
    width: 337px;
    height: 212px;
    background-color: var(--card-color);
    border-radius: 20px;
    font-size: 20px;
}

.credit-card--front::before {
    display: block;
    content: "";
    width: 45px;
    background: #af8700;
    top: -125px;
    left: 0;
    height: 30px;
    position: relative;
}

.credit-card--front {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 100px 45px 0 45px;
}
.credit-card--front #card-num {
    grid-column: 1 / -1;
    grid-row: 1;
}

.credit-card--front #card-name {
    grid-column: 1;
    grid-row: 2;
}

.credit-card--front #card-expr {
    grid-column: 2;
    grid-row: 2;
}

.credit-card--back::after {
    display: block;
    content: "";
    width: 337px;
    background: #000000;
    height: 45px;
    position: relative;
}

.credit-card--back #card-cvc {
    display: block;
    text-align: right;
    line-height: 30px;
    width: 100px;
    background: #ffffff;
    height: 30px;
    top: 100px;
    left: 45px;
    position: relative;
    color: #000;
}

.question {
    background: var(--card-color);
    display: inline-block;
    margin-top: 1em;
}
p {
    margin: 0;
}

input {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
    color: inherit;
    display: block;
    font-family: inherit;
    width: 100%;
}

.failure {
    color: #ff2222;
}

.success {
    color: #22ff22;
}

#info {
    color: #22ff22;
    padding: 1em 0;
}

#results {
    background: #ffffff;
    color: #000000;
    margin-top: 1em;
}

button {
    border: 2px solid #fff;
    background: inherit;
    color: #fff;
    font-size: 16px;
    padding: 1em;
    text-align: center;
}
#info a {
    color: inherit;
    /* text-decoration: inherit; */
}

@media (min-width: 816px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 816px) {
    .desktop {
        display: none;
    }
    .cards {
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
    body {
        text-align: center;
        margin: 1me auto;
    }
    .cards, .credit-card {
        margin: 1em auto;
    }
}